openapi: 3.0.0
info:
  title: Activity Service API
  description: API для управления активностями и их коэффициентами XP
  version: 1.0.0
servers:
  - url: https://api.xp-tracker.com
    description: Production server
  - url: http://localhost:8081
    description: Local development server

paths:
  /activities:
    get:
      summary: Получить список всех активностей
      description: Возвращает все доступные активности
      operationId: getActivities
      responses:
        "200":
          description: Успешный ответ с массивом активностей
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Activity"
    post:
      summary: Создать новую активность
      description: Добавляет новую активность
      operationId: createActivity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateActivityRequest"
      responses:
        "201":
          description: Активность создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateActivityResponse"

  /activities/{id}:
    get:
      summary: Получить активность по ID
      description: Возвращает данные об активности
      operationId: getActivityById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Успешный ответ с активностью
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        "404":
          description: Активность не найдена
    put:
      summary: Обновить активность
      description: Обновляет данные об активности
      operationId: updateActivity
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateActivityRequest"
      responses:
        "200":
          description: Активность обновлена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
    delete:
      summary: Удалить активность
      description: Удаляет активность по ID
      operationId: deleteActivity
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Активность удалена

  /activities/{id}/multiplier:
    get:
      summary: Получить коэффициент XP для пользователя
      description: Возвращает индивидуальный или дефолтный коэффициент XP
      operationId: getActivityMultiplier
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Успешный ответ с коэффициентом XP
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiplierResponse"
    post:
      summary: Установить индивидуальный коэффициент XP для пользователя
      description: Позволяет пользователю настроить свой коэффициент XP
      operationId: setActivityMultiplier
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiplierInput"
      responses:
        "200":
          description: Коэффициент XP обновлён

  /activities/user/{userId}:
    get:
      summary: Получить активности пользователя
      description: Возвращает список активностей, к которым привязан пользователь
      operationId: getUserActivities
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Успешный ответ с массивом активностей
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Activity"

components:
  schemas:
    Activity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: reading
        displayName:
          type: string
          example: Чтение книг
        category:
          type: string
          example: Образование
        defaultXpMultiplier:
          type: number
          format: float
          example: 1.2

    CreateActivityRequest:
      type: object
      properties:
        name:
          type: string
          example: coding
        description:
          type: string
          example: Программирование
        category:
          $ref: '#/components/schemas/ActivityCategory'
        unit:
          $ref: '#/components/schemas/ActivityUnit'
        baseXp:
          type: number
          format: double
          description: Базовый опыт за единицу активности

    CreateActivityResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: uuid

    MultiplierResponse:
      type: object
      properties:
        activityId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        xpMultiplier:
          type: number
          format: float
          example: 1.7

    MultiplierInput:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        xpMultiplier:
          type: number
          format: float
          example: 1.7

    ActivityUnit:
      type: string
      enum:
        - HOURS
        - KILOMETERS
        - SESSIONS
      description: Единица измерения активности

    ActivityCategory:
      type: string
      enum:
        - SPORTS
        - EDUCATION
        - HEALTH
        - ENTERTAINMENT
        - OTHER
      description: Категория активности
